useDynLib(crossover)

importFrom(graphics, "plot")

import(rJava)
importFrom(CommonJavaJars, loadJars)

export(crossoverGUI)
export(design.efficiency)
export(general.carryover)

export(searchCrossOverDesign)
export(general.carryover)

export(searchPlot)
export(buildSummaryTable)

exportMethods(plot, print, show)