useDynLib(crossover)

importFrom(graphics, plot)

import(rJava)
importFrom(CommonJavaJars, loadJars)
importFrom(multcomp, contrMat)
importFrom(MASS, ginv)
importFrom(Matrix, bdiag)
importFrom(Matrix, triu)
importFrom(ggplot2, ggplot)
importFrom(crossdes, allcombs, des.MOLS, balmin.RMD, find.BIB, williams, williams.BIB)
importFrom(xtable, xtable)

export(crossoverGUI)
export(design.efficiency)
export(general.carryover)

export(searchCrossOverDesign)
export(general.carryover)

export(buildSummaryTable)

exportMethods(plot, print, show, getDesign)