useDynLib(Crossover)

importFrom("stats", "runif") 
importFrom("utils", "capture.output", "write.table", "packageVersion", "installed.packages")
importFrom("stats", "complete.cases")
importFrom(stats4, plot)
import(methods)
import(JavaGD)
import(rJava)
import(ggplot2)
importFrom(CommonJavaJars, loadJars)
importFrom(digest, digest)
importFrom(multcomp, contrMat)
importFrom(MASS, ginv)
importFrom(Matrix, bdiag)
importFrom(Matrix, triu)
importFrom(crossdes, allcombs, des.MOLS, balmin.RMD, find.BIB, williams, williams.BIB)
importFrom(xtable, xtable)

export(CrossoverGUI)
export(design.efficiency)
export(general.carryover)

export(searchCrossOverDesign)
export(general.carryover)

export(buildSummaryTable)
export(canonicalOrder)
export(contrMat2)

exportMethods(plot, print, show, getDesign)

# export(getDesignMatrix) TODO: Do we want to export this function?