*-concordance.tex
*.bbl
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lot
Crossover.pdf
*.synctex.gz
Crossover.tex
*.toc
figure
*.aux
*.blg
cache
Crossover.out
results.pdf
results.tex
errors.pdf
errors.tex
Appendices.tex
Appendices.pdf
Models.pdf
Models.tex
Search.pdf
Search.tex
